In [1]:
import pandas as pd

# Replace 'your_file.csv' with the path to your CSV file
file_path = '../data/cleaned/YeneTube (Cleaned and Labled) - YeneTube.csv'

# Load the CSV data into a DataFrame
df = pd.read_csv(file_path)

# Display the first few rows of the DataFrame
print(df.head())

   Unnamed: 0 Unnamed: 1           Unnamed: 2  \
0         NaN         id                 date
1     21135.0      36761  2021-04-16 15:18:39
2     22658.0      38723  2021-08-18 12:09:48
3     23091.0      39289  2021-09-25 13:55:32
4     23553.0      39903  2021-11-14 12:33:29

                                          Unnamed: 3 Unnamed: 4 Unnamed: 5  \
0                                               text     length   Category
1  በኢትዮጵያ 430 ሺህ ዜጎች የኮቪድ 19 ክትባት መከተባቸው የጤና ሚኒስቴ...        193     Non-Ad
2  ጠቅላይ ሚኒስትር አቢይ አሕመድ እና ልኡካን ቡድናቸው ለሥራ ጉብኝት ቱርክ...        193     Non-Ad
3  አቶ ሽመልስ አብዲሳ የኦሮሚያ ክልል ፕሬዚዳንት ሆነው ተመረጡ! የጨፌ ኦሮ...        193     Non-Ad
4  የአዲስ አበባ ከተማ ከንቲባ አዳነች አቤቤ ለሰራዊቱና ለተፈናቀሉ ወገኖች ...        193     Non-Ad

  Unnamed: 6  Unnamed: 7  Total Ads  Total NonAds  ... Financial services  \
0        Tag       False      635.0       28571.0  ...               15.0
1        NaN        True        NaN           NaN  ...                NaN
2        NaN        True        NaN           NaN  ...                NaN
3        NaN        True        NaN           NaN  ...                NaN
4        NaN        True        NaN           NaN  ...                NaN

   Telecom  CPG and consumer products  Travel  \
0     12.0                       38.0     9.0
1      NaN                        NaN     NaN
2      NaN                        NaN     NaN
3      NaN                        NaN     NaN
4      NaN                        NaN     NaN

   Computing products and consumer electronics  Media  Entertainment  \
0                                         37.0  135.0           66.0
1                                          NaN    NaN            NaN
2                                          NaN    NaN            NaN
3                                          NaN    NaN            NaN
4                                          NaN    NaN            NaN

   Healthcare and pharma  Other   Non-Ad
0                   19.0  167.0  28571.0
1                    NaN    NaN      NaN
2                    NaN    NaN      NaN
3                    NaN    NaN      NaN
4                    NaN    NaN      NaN

[5 rows x 26 columns]

In [2]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Total Ads,Total NonAds,...,Financial services,Telecom,CPG and consumer products,Travel,Computing products and consumer electronics,Media,Entertainment,Healthcare and pharma,Other,Non-Ad
0,NaN,id,date,text,length,Category,Tag,False,635.0,28571.0,...,15.0,12.0,38.0,9.0,37.0,135.0,66.0,19.0,167.0,28571.0
1,21135.0,36761,2021-04-16 15:18:39,በኢትዮጵያ 430 ሺህ ዜጎች የኮቪድ 19 ክትባት መከተባቸው የጤና ሚኒስቴ...,193,Non-Ad,NaN,True,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,22658.0,38723,2021-08-18 12:09:48,ጠቅላይ ሚኒስትር አቢይ አሕመድ እና ልኡካን ቡድናቸው ለሥራ ጉብኝት ቱርክ...,193,Non-Ad,NaN,True,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,23091.0,39289,2021-09-25 13:55:32,አቶ ሽመልስ አብዲሳ የኦሮሚያ ክልል ፕሬዚዳንት ሆነው ተመረጡ! የጨፌ ኦሮ...,193,Non-Ad,NaN,True,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,23553.0,39903,2021-11-14 12:33:29,የአዲስ አበባ ከተማ ከንቲባ አዳነች አቤቤ ለሰራዊቱና ለተፈናቀሉ ወገኖች ...,193,Non-Ad,NaN,True,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29202,905.0,3870,2018-06-02 22:19:27,የ አ ስ ቸ ኳ ይ ጊ ዜ አ ዋ ጅ መ ነ ሳ ት ን አ ስ መ ል ክ ቶ በ ...,5527,Non-Ad,NaN,True,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29203,5494.0,13539,2019-01-04 10:30:06,B B C A m h a r i c ከ ነ ጋ ዘ ር ኡ ጋ ር በ ጌ ታ ቸ ው ...,6317,Non-Ad,NaN,True,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29204,27199.0,45375,2023-02-09 19:11:10,ፆ ሙ ከ ተ ጀ መ ረ ም በ ኋ ላ ሕ ዝ ቡ ወ ደ አ ም ላ ኩ እ ን ዳ ...,6387,Non-Ad,NaN,True,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29205,6409.0,15647,2019-02-26 19:36:16,ን ን በ መ ጠ ቀ ም አ ስ ተ ማ ማ ኝ ሰ ላ ም ለ ማ ረ ጋ ገ ጥ እ ...,6669,Non-Ad,NaN,True,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29206,27404.0,45770,2023-03-17 19:22:12,ከ ብ ል ፅ ግ ና ሥ ራ አ ስ ፈ ፃ ሚ ኮ ሚ ቴ የ ተ ሰ ጠ መ ግ ለ ...,6681,Non-Ad,NaN,True,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Total Ads,Total NonAds,...,Financial services,Telecom,CPG and consumer products,Travel,Computing products and consumer electronics,Media,Entertainment,Healthcare and pharma,Other,Non-Ad
0,NaN,id,date,text,length,Category,Tag,False,635.0,28571.0,...,15.0,12.0,38.0,9.0,37.0,135.0,66.0,19.0,167.0,28571.0
1,21135.0,36761,2021-04-16 15:18:39,በኢትዮጵያ 430 ሺህ ዜጎች የኮቪድ 19 ክትባት መከተባቸው የጤና ሚኒስቴ...,193,Non-Ad,NaN,True,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,22658.0,38723,2021-08-18 12:09:48,ጠቅላይ ሚኒስትር አቢይ አሕመድ እና ልኡካን ቡድናቸው ለሥራ ጉብኝት ቱርክ...,193,Non-Ad,NaN,True,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,23091.0,39289,2021-09-25 13:55:32,አቶ ሽመልስ አብዲሳ የኦሮሚያ ክልል ፕሬዚዳንት ሆነው ተመረጡ! የጨፌ ኦሮ...,193,Non-Ad,NaN,True,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,23553.0,39903,2021-11-14 12:33:29,የአዲስ አበባ ከተማ ከንቲባ አዳነች አቤቤ ለሰራዊቱና ለተፈናቀሉ ወገኖች ...,193,Non-Ad,NaN,True,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29202,905.0,3870,2018-06-02 22:19:27,የ አ ስ ቸ ኳ ይ ጊ ዜ አ ዋ ጅ መ ነ ሳ ት ን አ ስ መ ል ክ ቶ በ ...,5527,Non-Ad,NaN,True,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29203,5494.0,13539,2019-01-04 10:30:06,B B C A m h a r i c ከ ነ ጋ ዘ ር ኡ ጋ ር በ ጌ ታ ቸ ው ...,6317,Non-Ad,NaN,True,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29204,27199.0,45375,2023-02-09 19:11:10,ፆ ሙ ከ ተ ጀ መ ረ ም በ ኋ ላ ሕ ዝ ቡ ወ ደ አ ም ላ ኩ እ ን ዳ ...,6387,Non-Ad,NaN,True,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29205,6409.0,15647,2019-02-26 19:36:16,ን ን በ መ ጠ ቀ ም አ ስ ተ ማ ማ ኝ ሰ ላ ም ለ ማ ረ ጋ ገ ጥ እ ...,6669,Non-Ad,NaN,True,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29206,27404.0,45770,2023-03-17 19:22:12,ከ ብ ል ፅ ግ ና ሥ ራ አ ስ ፈ ፃ ሚ ኮ ሚ ቴ የ ተ ሰ ጠ መ ግ ለ ...,6681,Non-Ad,NaN,True,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Total Ads,Total NonAds,...,Financial services,Telecom,CPG and consumer products,Travel,Computing products and consumer electronics,Media,Entertainment,Healthcare and pharma,Other,Non-Ad
0,NaN,id,date,text,length,Category,Tag,False,635.0,28571.0,...,15.0,12.0,38.0,9.0,37.0,135.0,66.0,19.0,167.0,28571.0
1,21135.0,36761,2021-04-16 15:18:39,በኢትዮጵያ 430 ሺህ ዜጎች የኮቪድ 19 ክትባት መከተባቸው የጤና ሚኒስቴ...,193,Non-Ad,NaN,True,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,22658.0,38723,2021-08-18 12:09:48,ጠቅላይ ሚኒስትር አቢይ አሕመድ እና ልኡካን ቡድናቸው ለሥራ ጉብኝት ቱርክ...,193,Non-Ad,NaN,True,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,23091.0,39289,2021-09-25 13:55:32,አቶ ሽመልስ አብዲሳ የኦሮሚያ ክልል ፕሬዚዳንት ሆነው ተመረጡ! የጨፌ ኦሮ...,193,Non-Ad,NaN,True,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,23553.0,39903,2021-11-14 12:33:29,የአዲስ አበባ ከተማ ከንቲባ አዳነች አቤቤ ለሰራዊቱና ለተፈናቀሉ ወገኖች ...,193,Non-Ad,NaN,True,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29202,905.0,3870,2018-06-02 22:19:27,የ አ ስ ቸ ኳ ይ ጊ ዜ አ ዋ ጅ መ ነ ሳ ት ን አ ስ መ ል ክ ቶ በ ...,5527,Non-Ad,NaN,True,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29203,5494.0,13539,2019-01-04 10:30:06,B B C A m h a r i c ከ ነ ጋ ዘ ር ኡ ጋ ር በ ጌ ታ ቸ ው ...,6317,Non-Ad,NaN,True,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29204,27199.0,45375,2023-02-09 19:11:10,ፆ ሙ ከ ተ ጀ መ ረ ም በ ኋ ላ ሕ ዝ ቡ ወ ደ አ ም ላ ኩ እ ን ዳ ...,6387,Non-Ad,NaN,True,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29205,6409.0,15647,2019-02-26 19:36:16,ን ን በ መ ጠ ቀ ም አ ስ ተ ማ ማ ኝ ሰ ላ ም ለ ማ ረ ጋ ገ ጥ እ ...,6669,Non-Ad,NaN,True,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29206,27404.0,45770,2023-03-17 19:22:12,ከ ብ ል ፅ ግ ና ሥ ራ አ ስ ፈ ፃ ሚ ኮ ሚ ቴ የ ተ ሰ ጠ መ ግ ለ ...,6681,Non-Ad,NaN,True,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
filtered_df = df[['Unnamed: 3', 'Unnamed: 5']]
print(filtered_df.head())

                                          Unnamed: 3 Unnamed: 5
0                                               text   Category
1  በኢትዮጵያ 430 ሺህ ዜጎች የኮቪድ 19 ክትባት መከተባቸው የጤና ሚኒስቴ...     Non-Ad
2  ጠቅላይ ሚኒስትር አቢይ አሕመድ እና ልኡካን ቡድናቸው ለሥራ ጉብኝት ቱርክ...     Non-Ad
3  አቶ ሽመልስ አብዲሳ የኦሮሚያ ክልል ፕሬዚዳንት ሆነው ተመረጡ! የጨፌ ኦሮ...     Non-Ad
4  የአዲስ አበባ ከተማ ከንቲባ አዳነች አቤቤ ለሰራዊቱና ለተፈናቀሉ ወገኖች ...     Non-Ad

In [5]:
non_ads_df = filtered_df[filtered_df['Unnamed: 5'] != 'Non-Ad']
print(non_ads_df.head())

                                            Unnamed: 3     Unnamed: 5
0                                                 text       Category
40   ወደ ሀዋሳ እና ዝዋይ / ባቱ ለአመታዊ የቅዱስ ገብርኤል ክብረ በኣል ተጓ...         Travel
72   የዛሬ ጨዋታዎች የቤትስኬት ግምት ማሊ፣ ስፔን፣ ፖርቹጋልን እና ሌቫንቴን ...  Entertainment
109  ️ SHOPIA ️ በአስገራሚ ዋጋ ብቅ ብሏል️ ቱታዎች // ሱሪዎች // ጃ...         Retail
116  ዌብሳይት ለማሰራት ካሰቡ ትክክለኛው ቦታ ላይ ኖት! ፍጥነት የማይሞላ ገራ...          Other

In [9]:
non_ads_df

                                              Unnamed: 3     Unnamed: 5
0                                                   text       Category
40     ወደ ሀዋሳ እና ዝዋይ / ባቱ ለአመታዊ የቅዱስ ገብርኤል ክብረ በኣል ተጓ...         Travel
72     የዛሬ ጨዋታዎች የቤትስኬት ግምት ማሊ፣ ስፔን፣ ፖርቹጋልን እና ሌቫንቴን ...  Entertainment
109    ️ SHOPIA ️ በአስገራሚ ዋጋ ብቅ ብሏል️ ቱታዎች // ሱሪዎች // ጃ...         Retail
116    ዌብሳይት ለማሰራት ካሰቡ ትክክለኛው ቦታ ላይ ኖት! ፍጥነት የማይሞላ ገራ...          Other
...                                                  ...            ...
27671  ማስታወቂያ/ጥቆማ‼️ የአዲስ አበባ ዩኒቨርስቲ ለ2012 ኣም የትምህርት ዘ...          Other
28447  AWS mining international በሀገራችን ከገባ የወራት እድሜ ያ...          Other
28742  ማር እስከ ጧፍ (ፍቅር እስከ መቃብር) በድምፃዊ ቴዎድሮስ ካሳሁን (ቴዲ ...          Media
28893  ⬆️ከኢሳት የስራ አስፈፃሚ ቦርድ የተሰጠ መግለጫ! ጉዳዩ የኢሳትን መዋቅና...          Media
29077  Fiker: for more lyrics ቴዎድሮስ! በድምፃዊ ቴዎድሮስ ካሳሁን...          Media

[636 rows x 2 columns]

In [10]:
unnamed_3_column = non_ads_df['Unnamed: 3']
print(unnamed_3_column)

0                                                     text
40       ወደ ሀዋሳ እና ዝዋይ / ባቱ ለአመታዊ የቅዱስ ገብርኤል ክብረ በኣል ተጓ...
72       የዛሬ ጨዋታዎች የቤትስኬት ግምት ማሊ፣ ስፔን፣ ፖርቹጋልን እና ሌቫንቴን ...
109      ️ SHOPIA ️ በአስገራሚ ዋጋ ብቅ ብሏል️ ቱታዎች // ሱሪዎች // ጃ...
116      ዌብሳይት ለማሰራት ካሰቡ ትክክለኛው ቦታ ላይ ኖት! ፍጥነት የማይሞላ ገራ...
                               ...
27671    ማስታወቂያ/ጥቆማ‼️ የአዲስ አበባ ዩኒቨርስቲ ለ2012 ኣም የትምህርት ዘ...
28447    AWS mining international በሀገራችን ከገባ የወራት እድሜ ያ...
28742    ማር እስከ ጧፍ (ፍቅር እስከ መቃብር) በድምፃዊ ቴዎድሮስ ካሳሁን (ቴዲ ...
28893    ⬆️ከኢሳት የስራ አስፈፃሚ ቦርድ የተሰጠ መግለጫ! ጉዳዩ የኢሳትን መዋቅና...
29077    Fiker: for more lyrics ቴዎድሮስ! በድምፃዊ ቴዎድሮስ ካሳሁን...
Name: Unnamed: 3, Length: 636, dtype: object

In [11]:
# Save the unnamed_3_column to a text file
unnamed_3_column.to_csv('labled.txt', index=False, header=True)

print("The data has been saved to 'unnamed_3_column.txt'.")

The data has been saved to 'unnamed_3_column.txt'.